/* You can add global styles to this file, and also import other style files */
dialog {
    height: 300px;
    width: 600px;
    border: none;
    box-shadow: 0 0 5px 9px #929292;
    border-radius: 10px;
}

.btn:active {
    border: none;
}